/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  outline: none;
  border-radius: 270px;
  padding: 10px 120px 30px 80px;
  margin: 150px 0 0 150px;
  border: 0;
  font-size: 180px;
  font-weight: bold;
  background-color: #e953da;
  color: white;
  -webkit-box-shadow: 0 20px #142f48;
          box-shadow: 0 20px #142f48;
  letter-spacing: -80px;
  line-height: 190px;
  cursor: pointer;
  transform: scale(0.9);
  transition-property: transform;
  transition-duration: 0.5s;
}
#circle:hover {
  top: 5px;
  -webkit-box-shadow: 0 15px #142f48;
          box-shadow: 0 15px #142f48;
  color: black;
  transform: scale(1);
}
#circle:active {
  top: 10px;
  -webkit-box-shadow: 0 10px #142f48;
          box-shadow: 0 10px #142f48;
  color: black;
  transform: scale(1);
}

#rectangle {
  z-index: 1;
  background-color: #4c44cf;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 0px;
  padding: 50px 0 30px 10px;
  margin: 0 0 0 120px;
  -webkit-box-shadow: 0 20px #f5c1f0;
          box-shadow: 0 20px #f5c1f0;
  font-size: 100px;
  line-height: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}
#rectangle:hover {
  border-radius: 12px;
  -webkit-transform: scale(2.5, 2);
      -ms-transform: scale(2.5, 2);
          transform: scale(2.5, 2);
  color: black;
}
#rectangle:active {
  border-radius: 24px;
  -webkit-transform: scale(2.8, 2);
      -ms-transform: scale(2.8, 2);
          transform: scale(2.8, 2);
  color: black;
}

#diamond {
  z-index: index 2;
  background-color: #142f48;
  color: white;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 170px;
  height: 170px;
  padding: 0 10px;
  border-right: 10px dashed #f5c1f0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: translate(-60px, 120px) rotate(45deg) skew(5deg, 5deg);
      -ms-transform: translate(-60px, 120px) rotate(45deg) skew(5deg, 5deg);
          transform: translate(-60px, 120px) rotate(45deg) skew(5deg, 5deg);
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4s;
}
#i {
  padding: 0 0 0 20px;
  -webkit-transform: rotate(-45deg) skew(0deg);
      -ms-transform: rotate(-45deg) skew(0deg);
          transform: rotate(-45deg) skew(0deg);
}
#diamond:hover {
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: translate(-60px, 120px) rotate(75deg);
      -ms-transform: translate(-60px, 120px) rotate(75deg);
          transform: translate(-60px, 120px) rotate(75deg);
  color: black;
}
#diamond:active {
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: translate(-60px, 120px) rotate(105deg);
      -ms-transform: translate(-60px, 120px) rotate(105deg);
          transform: translate(-60px, 120px) rotate(105deg);
}

#triangle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 0;
  height: 0;
  font-size: 220px;
  font-weight: bold;
  color: white;
  margin: 0 0 0 80px;
  border-left: 100px solid transparent;
  border-bottom: 200px solid #1e8cb0;
  border-right: 160px solid transparent;
  -webkit-transform: translateY(110px);
      -ms-transform: translateY(110px);
          transform: translateY(110px);
  transition-duration: 0.2s;
}
#triangle:hover {
  cursor: pointer;
  -webkit-transform: translateY(100px) skew(3deg,2deg);
      -ms-transform: translateY(100px) skew(3deg,2deg);
          transform: translateY(100px) skew(3deg,2deg);
  color: black;
}
#triangle:active {
  -webkit-transform: translateY(90px) skew(-3deg, -2deg);
      -ms-transform: translateY(90px) skew(-3deg, -2deg);
          transform: translateY(90px) skew(-3deg, -2deg);
}

.dance {
  height: 100px;
  width: 500px;
  background-color: rgb(2, 71, 108);
  display: inline-block;
  margin: 100px 0 0 500px;
  text-align: center;
  transition: all 0.5s 0s linear;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
  padding: 40px 40px 66px 14px;
}

.dance:hover  {
  background-color: rgb(162, 255, 0);
  padding: 100px;
  color: black;
  letter-spacing: 50px;
}

.d {
  display: inline-block;
  animation: danceD 2s 0s linear infinite;
}
.d:hover {
  animation-play-state: paused;
}
.a {
  display: inline-block;
  animation: danceA 1.5s 0.4s step-end infinite;
}
.n {
  display: inline-block;
  animation: danceN 1s 0.2s linear infinite;
}
.c {
  display: inline-block;
  animation: danceC 2.5s 0.6s ease-out infinite;
}
.e {
  display: inline-block;
  animation: danceE 2s 0.1s linear infinite;
}

@keyframes danceD {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes danceA {
  0% {
  }
  50% {
    transform: skew(10deg, -5deg);
  }
  75% {
    transform: skew(-5deg, 16deg);
  }
  100% {
  }
}

@keyframes danceN {
  0% {
    opacity: 1;
    transform: translateY(-20%);
}
  50% {
    opacity: 0.5;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(-20%);
  }
}

@keyframes danceC {
  0% {
    transform: rotate(270deg);
  }
  25% {
    transform: rotate(50deg);
    color: pink;
  }
  50% {
    transform: rotate(-50deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes danceE {
  0% {}
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {}
}

#shiver {
  width: 300px;
  margin: 0 0 0 150px;
  border-radius: 20px;
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  padding: 50px 50px 0 20px;
  background-color: #fff000;
  transform: rotate(10deg);
  animation: jiggle 2s 0s linear infinite;
}
#shiver:active {
  animation-play-state: paused;
}

@keyframes jiggle {
  48%, 59% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  51% {
    transform: scale(0.9, 1.1) translate(0, -5px);
  }
  59% {
    transform: scale(1.1, 0.9) translate(0, -3px);
  }
}
